* {
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 107, 107);
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

.container {
    width: 900px;
    border: 3px solid purple;
    border-radius: 5px;
    /* padding: 33px 222px; */
    /* height: 484px; */
    margin: 33px auto;

}

.item {
    border: 3px solid grey;
    border-radius: 5px;
    padding: 12px 3px;
    margin: 12px 3px;
    background-color: rgb(177, 194, 145);

}

#fruit {
    float: left;
    width: 50%;
    /* clear: both; */
}

#computer {
    float: left;
    width: 48%;
    /* clear: both; */
}

#stationary {
    /* float: left; */
    width: 99%;
    clear: both;
}

p,
h3 {
    /* text-align: center; */
    text-align: justify;

}

h1 {
    margin: auto 257px;
    font-size: 39px;
    margin-top: 21px;

}