body{
    font-family: 'Poppins', sans-serif;
}

.grid{
    display: grid;
    /* grid-template-columns: 112px 112px 112px; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-gap:1rem;
    /* justify-content: center; */
}

.box{
    background-color: #4169e163;
    border: 2px solid #4169e1de;
    padding: 22px;
}