* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(165, 42, 42, 0.336);
    color: white;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 33px;
    margin: 5px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.733);
}

#card {
    width: 400px;
    height: 500px;
    border: 2px solid rgba(255, 0, 0, 0.548);
    background-color: rgba(228, 20, 20, 0.6);
    margin: 50px;
    padding: 12px 12px;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 23px;
    box-shadow: 10px 10px 50px 20px rgba(255, 0, 0, 0.644);


}

#card:hover {
    animation: basic-2 20s ease-in 1s 12 backwards;
    transition: transform 12s ease-in-out 0s;
}

@keyframes basic-2 {

    0% {
        transform: translate3d(-10px, 12px, 100px);
    }

}

@media (max-width:449px) {
    #card {
        height: fit-content;
    }
}

#btn {
    position: absolute;
    padding: 10px;
    font-size: 20px;
    top: 200px;
    right: 200px;
    background-color: rgba(71, 172, 4, 0.726);
    border-radius: 20px;
    border: 2px solid rgb(71, 172, 4);
    cursor: pointer;
   

}

/* Button Animation ---> learn */


/* #btn:hover {
    animation: basic 10s ease-out 10s 10 backwards;
    transition: all 1s ease-in 10s; 
}

@keyframes basic {
    0% {
        width: 10px;
        height: 20px;
       
    }
    10%{
        width: 50px;
        height: 30px;
    }
    50%{
        width: 90px;
        height: 50px;
    }
    100%{
        width: 130px;
        height: 70px;
    }
} */